* {
    margin-top: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --dark: #333;
    --primary: #c44b4b;
}
body {
    margin: 0;
    scroll-behavior: smooth;
    position: relative;
    font-family: futura;
    color: var(--dark);

}
a {
    text-decoration: none;
    color: var(--primary);
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
}
p {
    font-size: 18px;
    line-height: 2em;

}
img {
    max-width: 100%;
}
#header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: white;
    z-index: 99;
}
.container {
    width: 1200px;
    max-width: 90vw;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 90vw;
}
.header-container > h3 {
    margin: 0;
}
#nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav > ul > li {
    margin-left: 32px;
}
#banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    background-color: var(--dark);

}
.banner-container {
    width: 1200px;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.banner-caption {
    width: 50%;
    color: white;
}
/* .banner-caption > h2 {
    margin-bottom: 0;
} */
.banner-caption > h1 {
    margin-bottom: .5em;
}
.banner-caption > h3 {
    margin-bottom: .5em;
}
.banner-caption > h3:last-of-type {
    margin-bottom: 0;
}
#about {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.about-container {
    width: 960px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.btn {
    color: white;
    border-radius: 100px;
    text-align: center;
    box-sizing: border-box;
    background-color: #c44b4b;
    padding: 15px 20px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    transition: all .6s ease;
}
.btn:hover {
    filter: brightness(.8);
}
#projects {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 80px 0;
    background-color: var(--dark);
}
.container {
    width: 1200px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > h2 {
    text-align: center;
}
#projects .container > h2 {
    color: white;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.project-card {
    width: calc(33.333% - 20px);
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: hidden; */
}
.project-img {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.project-img > img {
    width: 100%;
    z-index: 1;
}
.project-img > img:first-of-type {
    position: absolute;
    transition: all 3s ease;
    z-index: 2;
    top: 0;
    left: 0;
}
.project-img > img:last-of-type {
    position: relative;
    z-index: 1;
}
.card-overlay, .hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 3;
    transition: all .6s ease;
    background-color: rgba(0,0,0,0.4);
}
.hover-overlay {
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-overlay {
    opacity: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}
.card-overlay > h3 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 26px;
    color: white;
}
.project-card > .btn {
    transform: translateY(-50%);
    /* position: absolute; */
    /* bottom: 0; */
    z-index: 2;
}
.project-card:hover > .project-img > img:first-of-type {
    transform: scale(1.2);
}
.project-card:hover > .card-overlay {
    opacity: 0;
}
.project-card:hover > .hover-overlay {
    opacity: 1;
}
@media screen and (max-width: 1024px) {
    .project-card {
        width: calc(50% - 20px);
    }
}
@media screen and (max-widtH: 787px) {
    .project-card {
        width: calc(100% - 20px);
    }
}
#skills {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 80px 0;
}
#skills .wrapper {
    justify-content: center;
    align-items: center;
}
.wrapper > img {
    width: calc(20% - 30px);
    margin: 0 15px;
    filter: grayscale();
}
@media screen and (max-width: 1024px) {
    .wrapper > img {
        width: calc(50% - 30px);
    }
}
@media screen and (max-widtH: 787px) {
    .wrapper > img {
        width: calc(100% - 30px);
    }
}
#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #333;
}
.contact-container {
    width: 1200px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-socials > a {
    margin: 0 10px;
}
.footer-socials > a > svg {
    width: 40px;
}
.footer-socials > a > svg path {
    fill: white;
}